$white: #ffffff;
$second_white: #fafafa;
$menu: #f5f5f5;
$myMessage: #e0e0e0;
$userMessage: rgb(58, 62, 82);
$names: #303030;
$text: #3d3d3d;
$smallText: #b1b1b1;
$tabs: #8ab0b4;



html, body {
	height: 100%;
}

.container {
	height: 100vh;
	width: 100vw;
	background: $menu;
	display: flex;
	flex-direction: column;
}
.body{
	display: flex;
	flex-direction: row;
}

.sidebar {
	width: 35%;
	min-width: 450px;
	max-width: 520px;
	border-right: 1px solid $text;
}

.leftHeader{
	display: flex;
	flex-direction: column;
	height: 140px;
	background-color: $menu;
	padding: 0 15px;

}

.currentUser{
	height: 70px;
	display: flex;
	align-items: center;
	
}

.avatar{
width: 54px;
height: 54px;
border-radius: 100px;
margin-right: 15px;
}

.search {
	height: 70px;
	display: flex;
	align-items: center;
}

.search__input{
	width: 100%;
	height: 40px;
	border-radius: 40px;
	border: 1px solid $second_white;
	padding-left: 35px;
	font-size: 14px;


	&::placeholder{
font-size: 14px;
color: $smallText;
	}
}
.search__icon{
	width: 18px;
  height: 18px;
  object-fit: cover;
  position: absolute;
  margin-left: 10px;
}

.usersList{
	overflow: scroll;
	background-color: $white;
	display: flex;
	flex-direction: column;
	height: calc(100vh - 140px);
}

.usersList__tabs{
	height: 70px;
	display: flex;
	align-items: center;
	margin-top: 15px;
	padding: 0 15px;
}

.usersList__button {
	padding: 0;
	border: none;
	color: $tabs;
	background-color: transparent;
	font-size: 17px;
}
.usersList__list{
width: 100%;
}

.usersList__friend {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 20px 15px;
	border-bottom: 0.5px solid $text;
	
}
.usersList__friend:hover{
	background-color: $menu;

}

.meta {
	padding: 0;
	margin: 0;
}

.info {
	width: 100%;
}

.title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.name {
	margin: 0;
	padding: 0;
	color: $names;
	font-size: 16px;
	font-weight: 600;
}
.meta{
	color: $smallText;
	font-weight: 600;
	font-size: 14px;

}

.last-message{
	font-size: 14px;
	margin: 0px;
	color: $smallText;
}

ul {
	padding: 0;
}

.chat{ 
	display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.chat__user {
	height: 70px;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 15px 0 15px 25px;	
	border-bottom: 1px solid $text;
	z-index: 2;
}

.chat__myMessagContent{
	flex-direction: row-reverse;
}

.chat__history{
	height: 100%;
	overflow: scroll;
	display: flex;
	flex-direction: column;
	background: $second_white;
}

.chat__messageContent{
	margin-bottom: 20px;
	padding: 0px 15px;
}

.chat__messageContent:first-child{
	margin-top: 25px;
}

.chat__userMessage{
	display: flex;
	flex-direction: row;
	align-items: center;
}
 
.chat__userMessageContent{
	background: $userMessage;
	border-radius: 30px 30px 30px 30px;
	height: 54px;
	display: flex;
	align-items: center;
}

.chat__text{
	margin: 5px 15px;
	color: $second_white;
	font-size: 14px;
}

.chat__date {
	margin: 5px 0 0 84px;
	color: $smallText;
}

.chat__myMessageItem{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding-right: 15px;
	padding-left: 84px;
	margin-bottom: 20px;
}

.chat__myMessageBlock{
	background: $myMessage;
	border-radius: 30px 30px 30px 30px;
	height: 54px;
	display: flex;
	align-items: center;
}
.chat__myText{
	margin: 5px 15px;
	color: $names;
	font-size: 14px;
}
.chat__myDate{
	margin: 5px 15px 0 0px;
	color: $smallText;
}







.chat__input{
	height: 140px;
	display: flex;
	align-items: center;
	background-color: $menu;
	padding: 0px 15px;
	border-top: 1px solid $text;

	textarea {
		height: 54px;
		width: 100%;
		margin: 0;
		outline: none;
		padding: 5px 25px;
		border: 1px solid $text;
		border-radius: 30px 30px 30px 30px;
		resize: none;
		font-size: 16px;


		&::placeholder {
			color: $smallText;
			padding-left: 0px;
			font-size: 16px;
	
		}

	}
	
}

.send__button{
	background: transparent;	
	border: none;
	outline: none;
	position:absolute;
	right: 30px;

	& img {
		width: 20px;
		height: 20px;
		object-fit: cover;
		padding:0;
	}
	&:hover {
		border-radius: 100%;
		padding: 12px;
		background: $myMessage;
	}
}

// .button{
// 	height: 56px;
// 	outline: none;
// 	border-radius: 0px 30px 30px 0px;
// 	padding: 21px;
// 	border: 1px solid #000;
// 	background-color: #fff;
// 	border-left: 0;

// }

// footer{
// 	width: 100%;
// 	height: 10vh;
// 	background: green;
// 	border-top: 1px solid #fff;
// 	}